:root {
  font: 16px "Press Start 2P", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --pokemon-image-unknown-size: 48px;
  background-color: black;
  touch-action: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a[href] {
  color: #08F;
}

a[href]:hover {
  color: #4DF;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "navigation"
    "footer";
}

#root > header,
#root > footer {
  text-align: center;
}

#root > header {
  grid-area: header;
  background-color: #dc0a2d;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  color: white;
}

#root > footer {
  grid-area: footer;
  background-color: #252525;
  font-size: 0.6rem;
  color: #dedede;
  padding: 1rem 2rem;
}

.unknown-pokemon-image {
  height: var(--pokemon-image-unknown-size);
  width: var(--pokemon-image-unknown-size);
  transition: all 300ms ease-in-out;
}

img.unknown-pokemon-image {
  transform: scaleX(-1);
  filter: brightness(0) invert();
}

div.unknown-pokemon-image {
  justify-content: center;
  align-items: center;
  display: flex;
}

.pokemon-navigation {
  grid-area: navigation;
  background-color: #8d0539;
  touch-action: pan-y;
  overflow-y: scroll;
  min-width: 400px;
}

.pokemon-navigation ul {
  position: relative;
  list-style: none;
}

.pokemon-navigation li {
  min-height: var(--pokemon-image-unknown-size);
  transition: background 300ms ease-in-out;
  padding: 0.5rem 2rem;
  align-items: center;
  position: absolute;
  user-select: none;
  cursor: pointer;
  color: white;
  display: flex;
  width: 100%;
  top:0;
}

.pokemon-navigation li.loading {
  height: var(--pokemon-image-unknown-size);
  justify-content: center;
}

.pokemon-navigation li:hover {
  background-color: #e24949;
}

.pokemon-navigation li:focus {
  outline: 3px double #e2a2a2;
  outline-offset: -6px;
}

.pokemon-navigation li:active {
  background-color: #4d0325;
}

.pokemon-navigation li.active {
  background-color: #75051d;
}

.pokemon-navigation .pokemon-id, .pokemon-navigation .pokemon-name {
  flex-grow: 1;
}

.pokemon-navigation .pokemon-name {
  text-align: center;
}

.pokemon-navigation .pokemon-id {
  text-align: right;
}

.pokemon-details {
  grid-area: navigation;
  color: white;
  background-color: rgba(2, 10, 34, 0.75);
  backdrop-filter: blur(2px);
  transition: opacity 500ms ease-in-out;
  z-index: -1000;
  opacity: 0;
}

.pokemon-details.closed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-details.open {
  overflow-y: auto;
  z-index: 1000;
  opacity: 1;
}

.pokemon-details > header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  border-bottom: 1px solid white;
  padding: 1rem;
}

.pokemon-details > header button {
  background: none;
  color: inherit;
  border: none;
  width: 3rem;
  height: 3rem;
  --ggs: 2;
}

.pokemon-details > header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.pokemon-details > header code {
  text-align: right;
}

.pokemon-image {
  cursor: pointer;
  text-align: center;
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.pokemon-image img {
  width: 100%;
  object-fit: contain;
}

@media (min-width: 420px) {
  .pokemon-navigation li {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  #root {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header header"
      "details navigation"
      "footer footer";
  }

  .pokemon-image {
    max-width: 288px;
  }

  .pokemon-details {
    grid-area: details;
    backdrop-filter: none;
    background-color: #002040;
    opacity: 1;
  }

  .pokemon-details > header button {
    display: none;
  }

  :root {
    --pokemon-image-unknown-size: 64px;
  }

  .pokemon-navigation li {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .pokemon-navigation .unknown-pokemon-image {
    order: 1;
  }

  .pokemon-navigation::-webkit-scrollbar {
    appearance: none;
    background-color: #252525;
    width: 0.5rem;
  }

  .pokemon-navigation::-webkit-scrollbar-thumb {
    appearance: none;
    background-color: #545454;
  }
}

@media (min-width: 800px) {
  #root > footer {
    font-size: 1rem;
  }

  .pokemon-navigation li {
    gap: 1rem;
  }
}

@media (min-width: 1280px) {
  #root {
    grid-template-columns: 1fr 4fr auto 1fr;
    grid-template-areas:
      "header header header header"
      ". details navigation ."
      "footer footer footer footer";
  }

  .pokemon-navigation {
    min-width: 400px;
  }
}

[hidden] {
  display: none !important;
}
